@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto:wght@100;300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--lato-cursiva);
}

:root {

    /* Cores de fundo (Background) */
    --background-page: #FFF9E7;
    --background-sobre: #F8CD53;
    --background-footer: #29282B;

    /* Cores de fonte */
    --cor-fonte-padrao: #000000;
    --cor-fonte-nav: #FFFFFF;
    --cor-fonte-by: orange;
    --cor-fonte-button-hover: yellow;

    /* Fontes da pagina */
    --lato-roboto: 'lato', Roboto;
    --lato-cursive: 'lato', cursive;

    /* Coree de Efeito */
    --cor-sombra: #C0C0C0;
    --cor-sombra-hover: #191970;
    --cor-button-hover: #191970;
    --cor-placeholder-effect: #191970;

    --height-padron: 10px;
    --boder-radius-padron: 20px;
}

body {
    background-color: var(--cor-sombra);
}

section {
    margin: var(--height-padron);
    border-radius: var(--boder-radius-padron);
    background-color: var(--background-page);
}

.menu-inicial {
    display: flex;
    height: 110px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-footer);
}

.menu-inicial>a {
    float: left;
    margin: var(--height-padron);
}

.menu-inicial-itens {
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 25%;
    margin-top: 30px;
}

.menu-inicial-itens>li {
    padding-left: 50px;
}

.menu-inicial-itens>li>a {
    text-decoration: none;
    color: var(--cor-fonte-nav);
}

#about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
}

#about-me>h1,
#about-me>hr,
#videos>h1,
#videos>h2,
#videos>h3 {
    margin: var(--height-padron)
}

.skills,
.skill-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}

#videos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
    align-items: center;
}


p {
    margin-bottom: 1.5rem;
    font-size: 1.10rem;
    margin: var(--height-padron)
}

main {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 80px;
    text-align: center;
    background-color: var(--cor-sombra);
}

ul {
    list-style-type: none;
    display: flex;
    float: right;
}

footer {
    height: 100px;
    display: flex;
    justify-content: end;
    background-color: var(--background-footer);
    border-radius: 5%;
}

.box-footer {
    display: flex;
    float: right;
}

.footer-img{
    align-items: center;
    padding-right: 10px;
}

.footer-directs {
    display: flex;
    color: var(--cor-fonte-nav);
    align-items: center;
    padding-right: 20px;
}

.responsive-iframe {
    border-radius: 5%;
}

@media (min-width: 800px) {
    .responsive-iframe {
        width: 560px;
        height: 315px;
    }
}

@media (max-width: 360px) {
    .responsive-iframe {
        width: 250px;
        height: 130px;
    }
}