@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto:wght@100;300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--lato-cursiva);
    background-color: var(--background-page);
}

:root {
    /* Cores de fundo (Background) */
    --background-page: #FFF9E7;
    --background-nav: #3A53E3;
    --background-sobre: #F8CD53;
    --background-footer: #29282B;


    /* Cores de fonte */
    --cor-fonte-padrao: #000000;
    --cor-fonte-nav: #FFFFFF;
    --cor-fonte-by: orange;
    --cor-fonte-button-hover: yellow;


    /* Fontes da pagina */
    --lato-roboto: 'lato', Roboto;
    --lato-cursive: 'lato', cursive;

    /* Coree de Efeito */
    --cor-sombra: #C0C0C0;
    --cor-sombra-hover: #191970;
    --cor-button-hover: #191970;
    --cor-placeholder-effect: #191970;
    


}

body {
    background-color: var(--cor-sombra);
}

section{
    margin: 10px;
    padding: 10px;
}

.menu-inicial {
    height: 100px;
    padding: 10px ;
    text-align: center;
    background-color: var(--background-footer);
}

#about-me{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
    padding: 25px;
}

.skills,.skill-img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}


#videos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1.10rem;
}

main {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 80px;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0;
}

footer,
.footer-img>li {
    width: 80vw;
    height: 100px;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0;
    align-items: center;
    background-color: var(--background-footer);
}

.footer-directs,
.footer-img {
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    color: var(--cor-fonte-nav);
    background-color: var(--background-footer);
}


@media